/* Universal and text styles */
html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #222222;
}

main {
  position:relative;
  top: 4rem;
  color: #222222;
}

section:nth-child(2n+1) {
  background-color: #dfeafa;
}

section {
  width: auto 0;
}

a {
  text-decoration: none !important;
  padding-left: 1rem;
  color: #303c55 !important;
  font-size: 1.25rem;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.1;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  padding: 2rem 0 0 0;
}

h3 {
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: normal;
}

h5 {
  font-size: 1rem;
  font-weight: normal;
}

p {
  font-size: 1.25rem;
  line-height: 1.35;
}

/* Header */
header {
  background-color: white;
  height: 4rem;
  width: 100%;
  justify-content: space-between;
  top: 0;
  left: 0;
  display: flex;
  position: fixed;
  z-index: 100;
}

header img {
  height: 2rem;
  padding: 0 0 0 1.5rem;
}

.logotype {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bold {
  font-weight: bold;
  padding-left: 0;
}

.light {
  font-weight: lighter;
}

/* Navigation */

header nav {
  padding-right: 3%;
  align-self: center;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.desktop {
  display: inline-block;
}

.mobile {
  display: none;
}

/* Banner section */
.info-text {
  display: inline-flex;
  flex-flow: column;
  justify-content: space-between;
  vertical-align: middle;
}

.banner-box img {
  display: inline-block;
  vertical-align: middle;
  width: 60%;
  margin: 2rem 2.5rem 2rem 1.5rem;
  flex-shrink: 0;
}

.banner-box h3 {
    margin: 1.5rem 0;
}

.banner-box .info-text {
    width: 30%;
    box-sizing: border-box;
}

.banner-box p .larger-media-box p {
    margin-bottom: 1.5rem;
}

/* Button */
.button {
  width: 75%;
  background-color: #94a5be;
  color: white !important;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1rem 0;
  text-align: center;
  transition: color 400ms, background-color 400ms;
}

.button:hover {
  background-color: #7d8da5;
}

.information .content-box:last-child, .thesis .content-box:first-child {
  background-color: #dfeafa;
}
  
/* Large Containers */
.multi-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.larger-media-box {
  display: inline-block;
  width: 60%;
  padding: 2rem 1.5rem;
}

.larger-media-box img {
  width: 100%;
  margin-bottom: 2rem;
}

.larger-media-box h2 {
  padding: 0 0 1.5rem 0;
}

.larger-video-box {
  display: inline-block;
  width: 60% !important;
  padding: 0.7rem 1.5rem 1.5rem 1.5rem;
}

.larger-video-box video {
  width: 100%;
  margin-bottom: 2rem;
}

#mobile-pic {
  display: none;
}

/* Small Containers*/
.stacked-content-box {
  display: flex;
  flex-flow: column;
  vertical-align: top;
  margin-top: 0.7rem;
  width: 35%;
}

.content-box img {
  width: 35%;
  margin: 3.5%;
  vertical-align: middle;
  display: inline-block;
}

.content-box .info-text {
  width: 56%;
  justify-content: center;
}

.content-box a {
  color: #0d18af;
  padding: 0;
}

/* Courses section */
.courses {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.course-container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 4rem;
}

.course-box {
  width: 30%;
  height: auto;
  margin: 1.5rem 1.5rem;
  background-color: white;
}

.courses h2, .thesis h2 {
  text-align: center;
}

.course-box img {
  width:100%;
}

.course-text {
  margin: 1rem 1.5rem 1.5rem 1rem;
}

footer {
  background-color: white;
  border-top: 1px solid #01161E;
  display: flex;
  justify-content: space-between;
  position:relative;
  top: 4rem;
  width: 100%
}

footer h5 {
  margin: 1rem auto 3rem 1.5rem;
}

footer nav {
  padding-top: 1rem;
}

footer span {
  padding-left: 1rem;
}

/* Desktop Settings */
@media only screen and (min-width: 800px) {
 .mobile {
    display: none !important;
  }

  .mobile-pic {
    display: none;
  }

  /* Header */
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logotype {
    height: 4rem;
    margin: 0 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  nav {
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1.5rem;
    vertical-align: middle;
  }

}

/* Mobile Settings */
@media only screen and (max-width: 799px) {
  .desktop {
    display: none !important;
  }
  
  .desktop-pic {
    display: none !important;
  }

  /* Text styles */
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2.5rem;
    line-height: 1.6rem;
  }
 
  /* Mobile Header */
  footer nav, .desktop, .logotype, .larger-media-box, .thesis p, .thesis h3, .course-box img, .course-box p, #desktop-pic {
    display: none;
  }
  
  /* Mobile Header */
  .mobile {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .mobile img {
    width: auto;
    height: 90%;
  }

  /* Mobile Banner section */
  .banner-box {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  .banner-box img {
    display: inline-block;
    width: 100%;
    margin: 0 0 1.5rem 0;
  }

  .info-text {
    width: 100% !important;
    padding: 0 1rem;
  }

  .button {
    width: 100%;
    margin: auto 1rem;
    padding: 1rem 0;
    align-self: center;
  }

  /* Mobile Information section */
  .larger-media-box {
    display: none;
  }
    
  .stacked-content-box {
    width: 100%;
    background-color: white;
  }

  .content-box {
    display: flex;
    flex-flow: column;
    background-color: white !important;
    padding: 0 0 
  }

  #mobile-pic {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 1rem 1rem 0 1rem;
    align-self: center;
  }

  #desktop-pic {
    display: none;
  }

  .content-box img {
    width: 100%;
    margin: auto;
    background-color: white;
  }

  .content-box {
    box-sizing: border-box;
    padding: 0 1rem 1.5rem 1rem;
  }

  .content-box .info-text h3 {
    padding: 0;
  }

  .content-box .info-text p {
    padding: 0;
  }

  .content-box a {
    font-size: 1rem;
    padding: 0 0 2rem 0;
  }

  /* Mobile Courses section */
  .courses {
    border-top: 1px solid #8A97A8;
    border-bottom: 1px solid #8A97A8;
    background-color: white !important;
  }

  .course-container {
    display: flex;
    flex-flow: column;
    background-color: white !important;
  }

  .course-box {
    width: 95%;
    height: auto;
    padding: 1rem 1rem;
    margin: 0.5rem 1rem 0.5rem 1rem;
    align-self: center;
    background-color: #dfeafa;
  }
    
  .course-box img {
    display: none;
  }
    
  .course-text p {
    display: none !important;
  }
    
  /* Mobile Thesis ssection */
  .thesis .multi-container {
    width: 100% !important;
    margin: 0;
  }

  .larger-video-box {
    display: flex;
    width: 100% !important;
  }

  .larger-video-box video {
    display: inline-block;
    width: 100% !important;
  }

  .thesis .stacked-content-box {
    display: none;
  }
  
  .thesis .content-box .info-text {
    display: none;
  }

  /* Mobile Footer */
    h5 {
    margin: 1.5rem 0 0 0;
  }

  .info-links {
    display: none;
  }
}