/* Universal */
body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    color: #222222;
    font-size: 16px;
    line-height: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
  
/* Desktop and mobile */
header {
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    z-index: 1000;
}
  
main {
    position: relative;
    top: 4rem;
}

/* Buttons and others */
button {
    height: 4rem;
    background-color: #303030;
    color: white;
    border: none;
    font-size: 1.2rem;
    flex-shrink: 1;
    border-radius: 2px;
}
  
.light {
    background-color: white;
}
  
.dark {
    background-color: #d8d8d8;
}

/* Text styles */
h1 {
    font-size: 2rem;
    line-height: 2rem;
}
  
h2 {
    font-size: 1.4rem;
    line-height: 1.4rem;
}
  
h3 {
    font-size: 1rem;
    color: grey;
    text-transform: uppercase;
    font-weight: lighter;
}
  
p {
    font-size: 1rem;
    line-height: 1.2rem;
}
  
.bold {
    font-weight: bold;
}
  
.light {
    font-weight: lighter;
}
  
.caption {
    font-size: 0.9rem;
    line-height: 1rem;
    font-weight: 700;
}
  
a {
    text-decoration: none;
    color: #303030;
    line-height: 1rem;
}
  
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1rem;
}

/* Sections */

/* Banner section */
.banner {
    background-color: #d8d8d8;
    width: 100%;
    display: flex;
}
  
/* Information section */
.information {
    display: flex;
}
  
.smaller-pic {
    width: 100%;
}
  
.information .info-right {
    padding-bottom: 2rem;
    padding-top: 1rem;
}
  
.information .info-right .smaller-pic .info-text .banner-text a {
    color: #28BFB2;
}
  
/* Courses section */
.courses h1 {
    text-align: center;
}
  
.courses {
    display: flex;
    flex-direction: column;
}
  
/* Thesis section*/
.thesis-exhibit {
    width: 100%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
  }
  
.thesis-exhibit h1 {
    text-align: center;
}